---
export interface BreadcrumbItem {
  label: string;
  href?: string;
}

interface Props {
  breadcrumbs: BreadcrumbItem[];
}

const { breadcrumbs } = Astro.props;
---

<!-- パンくずリスト -->
<ul class="breadcrumbs">
  {
    breadcrumbs.map((item) => {
      return item.href ? (
        <a href={item.href} class="item link">
          <span>{item.label}</span>
        </a>
      ) : (
        <p class="item">{item.label}</p>
      );
    })
  }
</ul>

<style>
  .breadcrumbs {
    display: flex;
    gap: 0.5rem;
    /* TODO: サイズ後から調整↓↓↓ */
    font-size: 1rem;
    padding: 16px 0;
    color: var(--text-secondary);

    .item {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;

      &:not(:last-child)::after {
        content: ">";
        color: var(--text-muted);
      }
    }

    .link {
      font-weight: 600;
      color: var(--accent-dark);

      &:hover span {
        text-decoration: underline;
      }
    }
  }
</style>
