---
import ProfileSection from "@/features/profile/ProfileSection.astro";
import HeroSection from "../features/hero/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import WorksSection from "@/features/works/WorksSection.astro";
---

<Layout title="もっくん">
  <HeroSection />

  <ProfileSection />

  <WorksSection />
  <!-- TODO ↓はコンポーネントに切り分ける必要あり -->

  <div class="section" id="Blogs">
    <div class="container">
      <h1>Blogs</h1>
    </div>
  </div>
</Layout>
