---
import Layout from "../layouts/Layout.astro";
---

<Layout title="もっくん">
  <div class="section hero">
    <h1>ヒーローセクション</h1>
    <a href="/test">テストページへ</a>
  </div>

  <div class="section hoge">
    <div class="container">ほげセクション</div>
  </div>

  <!-- ほかセクションが来る -->
  <!-- これはコンポーネントにする -->
</Layout>

<style>
  .hero {
    background: var(--bg-accent-light);
    height: 100vh;
  }
</style>
