---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout breadcrumbs={[{ label: "hoge" }, { label: "huga" }]}>
  <div class="section">
    <div class="container">
      <h1>ほげほげ</h1>
    </div>
  </div>
</PageLayout>

<style>
  .section {
    background: var(--bg-accent-light);
  }
</style>
