---
// https://nicolas-cusan.github.io/destyle.css/
import "destyle.css";
import "../css/variable.css";
import "../css/global.css";
import Footer from "./components/Footer.astro";

interface Props {
  title: string;
  isFooter?: boolean;
}
const { title, isFooter = true } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="page-main">
      <slot />
    </main>
    {isFooter && <Footer />}
  </body>
</html>
