---
import type { BreadcrumbItem } from "./components/Breadcrumbs.astro";
import Breadcrumbs from "./components/Breadcrumbs.astro";
import Layout from "./Layout.astro";
interface Props {
  breadcrumbs: BreadcrumbItem[];
  title: string;
}
const { breadcrumbs = [], title } = Astro.props;
---

<Layout title={`もっくん - ${title}`}>
  <div class="section">
    <div class="container">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
    </div>
    <slot />
  </div>
</Layout>
